.js-games {
  display: flex;
  height: 85vh;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  background-color: #c5d6ef;
}

h1 {
  background-color: aliceblue;
  text-align: center;
  font-family: garamond;
}
.game {
  display: flex;
  height: 300px;
  width: 300px;
  justify-content: center;
  align-items: center;
  background-color: rgb(160, 229, 207);
  margin-top: 10px;
  border-radius: 2rem;
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6),
    inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}

.game:hover {
  background-color: rgb(73, 160, 227);
}

button a {
  text-decoration: none;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 50px;
  color: rgb(27, 15, 0);
}
