body {
  background-color: rgb(73, 160, 227);
}
.js-games {
  display: flex;
  height: 85vh;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(173, 209, 236);
  background-image: url("totoro.png");
  background-size: cover;
}

h1 {
  /* background-color: aliceblue; */
  text-align: center;
  font-family: garamond;
}
.game {
  display: flex;
  height: 300px;
  width: 300px;
  justify-content: center;
  align-items: center;
  background-color: rgb(174 229 160);
  margin-top: 10px;
  border-radius: 6rem;
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6),
    inset -2px -2px 3px rgba(0, 0, 0, 0.6);
  filter: none;
}

.game:hover {
  background-color: rgb(73, 160, 227);
}

button a {
  text-decoration: none;
  font-family: "Times New Roman", Times, serif;

  font-size: 60px;
  color: rgb(136 0 0);
}

.more {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  background-color: rgb(116, 236, 236);
}
